<style type="text/css">
	#bio_list li {
		list-style-type: circle;
		margin-bottom:20px;
	}
</style>

<ul id="bio_list">
  <li>Phil Forsyth is 
  a professional landscape designer specializing in ecological garden 
  design, edible landscaping, and Permaculture.</li>
  <li>Mr. Forsyth has 
  a BA in Landscape Design &amp; Contracting from Colorado State University 
  and a Permaculture Design Certificate from the Central Rocky Mountain 
  Permaculture Institute (link to <a href="http://www.crmpi.org" target="_blank">www.crmpi.org</a>). </li>
  <li>Mr. Forsyth currently 
  serves as Orchard Director for the Philadelphia Orchard Project (link 
  to <a href="http://www.phillyorchards.org" target="_blank">www.phillyorchards.org</a>), a non-profit that transforms neglected urban 
  spaces into vibrant community orchards. </li>
  <li>Mr. Forsyth has 
  previously worked as a landscape designer for <a href="http://www.donaldpell.com" target="_blank"><u>Donald Pell Gardens</u></a>. </li>
  <li>Prior to opening 
  Forsyth LLC in Philadelphia, Mr. Forsyth spent four years designing, 
  developing, and managing an urban farm project at the site of the <a href="http://www.wyckoffassociation.org/museum/garden.html" target="_blank"><u>Wyckoff Farmhouse 
  Museum</u></a> in Brooklyn. </li>
  <li>Mr. Forsyth has 
  written several articles published in the <a href="http://permacultureactivist.net" target="_blank"><u>Permaculture Activist 
  magazine</u></a>. </li>
	<li>Mr. Forsyth has taught workshops on garden planning, fruit growing, permaculture, and more at a wide variety of venues including the Brooklyn Botanic Garden, the US Botanic Garden, PASA, Just Food, and Grow Together conferences.  
	</li>
</ul>