  <table cellpadding="6" border="0">
    <tr><td colspan="2" valign="top">
        <b>FRUIT-GROWING IN PHILADELPHIA</b>
    </td></tr>
    <tr><td colspan="2" valign="top">
Growing fruit in the urban environment of Philadelphia is both easy and bountiful!  Fruit trees can be grown in yards and community gardens and even in containers on patios and rooftops.  Many types of berry bushes can be productive even in the partial shade of buildings and trees.  Vines and espaliered trees can grow along the vertical spaces of walls and fences.  Strawberries can thrive even in window boxes.   And remember, once fruiting plants are established, they’re a lot less work than vegetables.  With a little knowledge and a little patience, you can enjoy fresh fruit for years to come!
    </td></tr>
    <tr><td colspan="2" valign="top">
        <i>Try some of the surprisingly wide variety of fruit that can be grown in Philadelphia: </i>
    </td></tr>
    <tr><td valign="top">
        <b>TREES</b><br/>
        Apples- C*, E, P<br/>
        Pears- E, P<br/>
        Apricots<br/>
        Peaches- C*, E<br/>
        Plums- E, P<br/>
        Cherries, Sweet- C*, E, P<br/>
        Cherries, Tart- C*, E                           <br/>
        Cherries<br/>
        Persimmons- P                           <br/>
        Paw-Paws- S                                     <br/>
        Mulberries-S                                    <br/>
        Jujubes- P                                      <br/>
        Quinces                                 <br/>
        Medlars                                 <br/>
        Pomegranates- C, T                              <br/>
        Figs- C, E, T<br/>

      </td><td valign="top">
        <b>SHRUBS</b><br/>
        Blackberries- C*<br/>
        Raspberries- C<br/>
        Blueberries- C<br/>
        Cranberries- S, C<br/>
        Currants- S, C<br/>
        Gooseberries- S, C<br/>
        Elderberries- S, P<br/>
        Bush Cherries- C<br/>
        Lingonberries- S, C<br/>
        Blue Honeysuckle- C<br/>
        Serviceberries- S<br/>
        Goumis- C, S<br/>
        Aronia/Chokecherries<br/>
        Sea Buckthorn/Seaberries- C<br/>
    </td></tr>
    <tr><td valign="top">
        <b>VINES</b><br/>
        Grapes<br/>
        Hardy Kiwis- P<br/>
        Akebias- P<br/>
        Maypops- C<br/>
      </td><td valign="top">
        <b>GROUNDCOVERS</b><br/>
        Strawberries- S*, C<br/>
        Rhubarb<br/>
        Mushrooms- S<br/>
        Prickly Pear Cactus<br/>
    </td></tr>
    <tr><td colspan="2" valign="top">
        <b>SYMBOL KEY</b><br/>
        C-  Can be grown in container plantings. <br/>
        E-  Tree can be espaliered. <br/>
        P-  May require another specimen or variety for pollination.<br/>
        S-  Can successfully produce fruit in shade.  <br/>
        T-  Tender plants may require some protection from the cold.  <br/>
        *-  Only applicable to certain varieties.  <br/>
    </td></tr>
    <tr><td colspan="2" valign="top">
        <b>SOME RECOMMENDED FRUIT SOURCES:</b>
    </td></tr>
    <tr><td valign="top">
        <a href="http://www.greensgrow.org">www.greensgrow.org</a><br/>
        <a href="http://www.eat-it.com">www.eat-it.com</a><br/>
        <a href="http://www.usefulplants.org">www.usefulplants.org</a><br/>
      </td><td valign="top">
        <a href="http://www.raintreenursery.com">www.raintreenursery.com</a><br/>
        <a href="http://www.fedcoseeds.com">www.fedcoseeds.com</a><br/>
        <a href="http://www.millernurseries.com">www.millernurseries.com</a><br/>
    </td></tr>
  </table>
