<style type="text/css">
#permaculture_list li {
	list-style-type: circle;
	margin-bottom:20px;
}
</style>

<UL id="permaculture_list">
        <li>
        We can live in a more natural and environmentally friendly way and significantly improve our quality of life.
        </li>
        <li>
        By thinking carefully about the way we use our resources - food, energy, shelter and other material and non-material needs - it is possible to get much more out of life by using less. We can be more productive for less effort, reaping benefits for our environment and ourselves, for now and for generations to come.
        </li>
        <li>
        This is the essence of Permaculture - the design of an ecologically sound way of living - in our households, gardens, communities and businesses. It is created by cooperating with Nature and caring for the Earth and its people.
        </li>
</UL>
